# This workflow is entirely based on the original work of:
# Samuele Giuli (for SciFortran project)
# It is adapted here to the DMRG case + using a local action to setup OS
#
name: CI DMRG workflow 

on: push

defaults:
  run:
    shell: bash -l {0}

jobs:
  test-DMRG:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14]

    steps:

#********* SETUP PART **********

# Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@main

# Setup OS
      - uses: ./.github/actions
        with:
          pack-type: open



#********* BUILD PART **********

# Build SciFortran
      - name: Cloning SciFortran
        run: git clone https://github.com/aamaricci/SciFortran.git scifor
      - name: Install SciFortran
        run: scifor/bin/ci_setup_scifor.sh

# Build DMRG
      - name: Cloning DMRG
        run: git clone https://github.com/aamaricci/Lattice_DMRG.git Lattice_DMRG
      - name: Install Lattice_DMRG
        run: |
          source ~/.scifor_config_user
          export PKG_CONFIG_PATH=~/.pkgconfig.d
          export GLOB_INC=$( pkg-config --cflags scifor )
          export GLOB_LIB=$( pkg-config --libs   scifor  | sed  "s/;/ /g"  | sed 's/\\/  /g' )
          Lattice_DMRG/bin/ci_setup_dmrg.sh

#******** TESTING PART ********
# Testing
      - name: Building tests
        run:  |
          source ~/.scifor_config_user
          source ~/.dmrg_config_user
          export PKG_CONFIG_PATH=~/.pkgconfig.d
          export GLOB_INC=$( pkg-config --cflags scifor dmrg)
          export GLOB_LIB=$( pkg-config --libs   scifor dmrg | sed  "s/;/ /g"  | sed 's/\\/  /g' )
          cd Lattice_DMRG/test
          export TERM=xterm
          make all

      - name: Testing...
        run: |
          cd Lattice_DMRG/test
          make test

